#content {
    height: 80%;
    width: 100%;
}

h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#title {
    width: 33%;
    height: 100%;
    float: left;
    background: linear-gradient(to right, #ebbba7 0%, #cfc7f8 100%);
    margin: 0 auto;
    border-radius: 5px;

}

.t_p {
    height: 23px;
    padding-left: 5px;
    border: 5px;
    border-radius: 5px;
}

.t_button {
    text-align: center;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color: #e88ab7;
}

#img_l1 {
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/register_l.jpg) no-repeat center;
    background-size: cover;
    -webkit-border-radius: 5px;
}

#img_r1 {
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/register_r.jpg) no-repeat center;
    background-size: cover;
    -webkit-border-radius: 5px;
}

#img_l2 {
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/login_l.jpg) no-repeat center;
    background-size: cover;
    -webkit-border-radius: 5px;
}

#img_r2 {
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/login_r.jpg) no-repeat center;
    background-size: cover;
    -webkit-border-radius: 5px;
}

#img_l3 {
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/profile_l.jpg) no-repeat center;
    background-size: cover;
    -webkit-border-radius: 5px;
}

#img_r3 {
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/profile_r.jpg) no-repeat center;
    background-size: cover;
    -webkit-border-radius: 5px;
}

